@charset "UTF-8";
/* CSS Document */
html, body{
	margin: 0;
	padding: 0;
	background-image: url(); /*背景圖片*/
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family:Helvetica, Arial," sans-serif", Microsoft JhengHei;  /*字體*/
}


header{
	width: 100%;
	overflow: hidden;
	position: absolute;
}

/* banner地圖 */
.banner{
	width:100%;
	margin:0px auto;
	-webkit-animation-name:ant;
	animation-name:ant;
	animation-duration:3s;
	
}
@keyframes ant{
	from{ opacity: 0;}
	to{opacity: 1;}
}

.anitext3{
	position:fixed;
	padding:10px;
	right:4%;
	bottom:2%;
	color:#000;
	background:rgba(0,0,0,0);
	font-size:0.8em;
	font-weight:bold;
	opacity:0.8;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr ;
	
	-webkit-animation-name: ant3; /* Safari 4.0 - 8.0 */
	animation-name: ant3;
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
	animation-duration: 3s;
	-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
	animation-iteration-count: 1;
	-webkit-animation-timing-function: ease; /* Safari 4.0 - 8.0 */
	animation-timing-function: ease;
	
}
@keyframes ant3 {
    from   {bottom:100%; opacity:0; background:rgba(0,0,0,0);}
    to  {bottom:2%; opacity:0.8; background:rgba(0,0,0,0);}
	
}

/*For tablets*/
@media only screen and (min-width:768px){
	nav{
	display: block;
	}
	nav ul li{
	display: inline-block;
	border-bottom: hidden;
	}
	.menu{
	display: none;
	}
	#imgbox img{
	width:50%;
	}
}

/*For desktop*/
@media only screen and (min-width:1200px){
	#imgbox img{
	width:33.33%;
	}
}

body{
	font-family:Verdana, Geneva, sans-serif, "微軟正黑體";
	color:#bc9624;
	margin:0;
	padding:0;
}

/* header */


/* banner大圖 */
.banner{
	width:100%;
	margin:0px auto;
	-webkit-animation-name:ant;
	animation-name:ant;
	animation-duration:3s;
	position: relative;
	
}
#north,
#middle,
#south{
	position: absolute;
}
@keyframes ant{
	from{ opacity: 0;}
	to{opacity: 1;}
}


#article02{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 800px;
	padding:5% 10%;
	background-size: cover;
}

#article02  h1{
	text-align: center;
	color:#FFFFFF;
	padding: 20px;
	margin: 0px 30%;
	font-size: 27px;
	border-bottom:solid 3px #EFDB42;
}

#article02  p{
	text-align: center;
	color: #fff;
	font-size: 1em;
}

#article02  h6{
	text-align: center;
	color: #fff;
	font-size: 0.5em;
}

#article02  img{
	margin: 0 5%
}


#north  img:hover{
	cursor:pointer;
	opacity:0.5;
}

#south  img:hover{
	cursor:pointer;
	opacity:0.5;
}

#middle  img:hover{
	cursor:pointer;
	opacity:0.5;
}

/*LOGO */

.end{
	font-size: 10pt;
	text-align:center;
	padding:20px 10px;
	width:100%;
	background:#0B1A25;
	color:#EFDB42;
}

.logo{
	margin:0px auto;
	width:100%;
}

.logo img{
	margin:0px auto;
	text-align:center;
	padding:50px 15px 15px 15px;
	width:85px;
}

.hey{
	font-size: 10pt;
	line-height: 20px;	
	text-decoration: none;
	color:rgba(250,250,250,0.8);
}




